@import "../base.scss";
.listContainer {
  @include flexC();
  align-items: stretch;
  justify-content: flex-start;
  padding: $sm;
  overflow-y: auto;
  .strainCard {
    @include flexC();
    align-items: stretch;
    &:not(:nth-of-type(1)) {
      margin-top: $sm;
    }
    h3 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background: linear-gradient(to left, $c2, $c4);
      border-radius: $sm;
      padding: $xs $sm;
      .googleSearch {
        font-size: 0.9rem;
        font-weight: 0;
        &:hover {
          font-weight: 800;
        }
      }
    }
    p {
      padding-left: $sm;
      margin-top: $sm;
      font-size: 0.9rem;
      .label {
        background-color: transparentize($c3, 0.6);
        color: white;
      }
    }
  }
}
.listToolbar {
  min-height: 3rem;
  align-self: flex-end;
}
