@import "../base.scss";
@import "./formBase.scss";
#loginForm {
  @include formBase();
  max-width: 20rem;
  form {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
  button {
    align-self: flex-end;
  }
}
