@import "../base.scss";
#logo {
  width: 4rem;
}
.logoPath {
  fill: $c3;
  fill-opacity: 1;
  stroke: $c3;
  stroke-opacity: 1;
  stroke-width: 3.26929134;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
}
