@import "../base.scss";
@import "./formBase.scss";
.queryForm {
  @include formBase();
  width: 20%;
  max-width: 30rem;
  min-width: 15rem;
  @media screen and (max-width: 500px) {
    width: 100%;
    max-width: unset;
    min-width: unset;
  }
}
