@import "../base.scss";
@import "./formBase.scss";
.resultsList {
  @include formBase();
  margin-left: $md;
  flex: 1;
  @media screen and (max-width: 500px) {
    width: 100%;
    max-width: unset;
    min-width: unset;
    margin-left: unset;
  }
  > h3 {
    margin: $sm;
    background: linear-gradient(to right, $c4, $c2);
  }
  .strainsContainer {
    @include flexR();
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  p {
    padding: $sm;
  }
}
