@import "../base.scss";
@mixin strainsContainer() {
  .strainsContainer {
    @include flexR();
    flex-wrap: wrap;
    justify-content: flex-start;
    .strainCard {
      @include flexC();
      margin: $sm;
      padding: $sm;
      background-color: transparentize($c4, 0.75);
      border-radius: $sm;
      &:hover {
        background-color: $c4;
        cursor: pointer;
      }
    }
  }
}
